body { background: #893a0d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 22px; display: flex; }
.block-notify-0 { color: #af564b; font-size: 19px; margin-bottom: 5px; }
.block-router-1 { color: #24c396; font-size: 16px; margin-bottom: 5px; }
.block-token-2 { color: #460c36; font-size: 18px; margin-bottom: 5px; }
.block-order-3 { color: #f87ab5; font-size: 20px; margin-bottom: 5px; }
.block-filter-4 { color: #c94ba3; font-size: 17px; margin-bottom: 5px; }
.block-sms-5 { color: #1afb48; font-size: 12px; margin-bottom: 5px; }